<md-card>
    <md-card-subtitle>Conta</md-card-subtitle>
    <md-card-title>Informe os dados da conta a ser criada</md-card-title>
    <md-card-content>
      <md-input placeholder="Nome" required="true"></md-input>
      <md-input placeholder="Descrição"></md-input>
      <div>
        Ativa desde sempre 
        <md-button-toggle value="true">
          <md-icon>check_box</md-icon>  
        </md-button-toggle>
      </div>
    </md-card-content>
    <md-card-actions>
        <button md-button color="accent" type="submit">
          Confirmar
        </button>
    </md-card-actions>
</md-card>
