<md-card>
    <md-card-subtitle>Conta</md-card-subtitle>
    <md-card-title>{{conta?.nome}}</md-card-title>
    <md-card-content>
        <p>Saldo: R$ {{conta?.saldo}}</p>
        <p>{{conta?.descricao}}</p>

        <md-list>
            <md-list-item>
                <md-icon md-list-avatar>home</md-icon>
                <h3 md-line> Alugel </h3>
                <p md-line>Esperado: 1480,00 - Realizado: 1480,00</p>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-avatar>location_city</md-icon>
                <h3 md-line> Condomínio </h3>
                <p md-line>Esperado: 425,00 - Realizado: 425,00</p>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-avatar>power</md-icon>
                <h3 md-line> Energia elétrica </h3>
                <p md-line>Esperado: 100,00 - Realizado: 106,00</p>
            </md-list-item>
            <md-list-item>
                <md-icon md-list-avatar>wifi</md-icon>
                <h3 md-line> Telefone e Internet </h3>
                <p md-line>Esperado: 1480,00 - Realizado: 1480,00</p>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>