<md-sidenav-layout fullscreen>
    <md-sidenav #sidenav mode="over" class="app-sidenav">
        <md-nav-list>
            <h3 md-subheader>Conteúdo</h3>
            <a md-list-item [routerLink]="['/contas']" (click)="sidenav.close()">
                <md-icon md-list-avatar>list</md-icon>
                <h4 md-line>Contas</h4>
                <span md-line>Todas as contas cadastradas</span>
            </a>
            <a md-list-item [routerLink]="['/relatorios']" (click)="sidenav.close()">
                <md-icon md-list-avatar>card_giftcard</md-icon>
                <h4 md-line>Relatórios</h4>
                <span md-line>Relatórios diversos para acompanhamento</span>
            </a>       
        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <i class="material-icons">menu</i>
        </button> 
        
        {{title}}

    </md-toolbar>

    <router-outlet></router-outlet>
</md-sidenav-layout>

<button md-fab (click)="goToNewConta()">
    <md-icon>add</md-icon>
</button>