<md-sidenav-layout fullscreen>
    <md-sidenav #sidenav mode="over" class="app-sidenav">
        <md-nav-list>
            <h3 md-subheader>Conteúdo</h3>
            <a md-list-item [routerLink]="['/dashboard']" (click)="sidenav.close()">
                <md-icon md-list-avatar>dashboard</md-icon>
                <h4 md-line>Dashboard</h4>
            </a>
            <a md-list-item [routerLink]="['/contas']" (click)="sidenav.close()">
                <md-icon md-list-avatar>list</md-icon>
                <h4 md-line>Contas</h4>
            </a>      
        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <i class="material-icons">menu</i>
        </button> 
        
        {{title}}

        <span class="toolbar-fill-remaining-space"></span>
        
        <button md-icon-button [md-menu-trigger-for]="menu">
            <i class="material-icons">more_vert</i>
        </button>
        <md-menu #menu="mdMenu" x-position="before" y-position="below">
            <button md-menu-item (click)="goToNewConta()">nova conta</button>
        </md-menu>

    </md-toolbar>

    <router-outlet></router-outlet>
</md-sidenav-layout>

<button md-fab (click)="goToNewConta()">
    <md-icon>add</md-icon>
</button>